include LICENSE README.md pyproject.toml
recursive-include docs *.md
recursive-include docs/repro *.py *.toml
recursive-include examples *.toml
recursive-include examples/data *.csv *.md
recursive-include tests *.py
include tests/data/doty_1991_nitrogen_reference.csv
include tests/data/doty_1991_helium_reference.csv

recursive-include examples *.py
